// 色调
$--color-primary: #2879ff; // 主色
$--color-success: #09c268; // 绿色
$--color-warning: #ff8400; // 橙色
$--color-danger: #f75252; // 红色
$--color-info: #909399;

// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #f75252;
$pink: #e65d6e;
$green: #09c268;
$tiffany: #4ab7bd;
$yellow: #ff8400;
$panGreen: #09c268;
$purple: #8a7aff;

// base
$base-background: #fafafa; // 背景色
$base-halving-line: #e7e7e7; // 分割线
$base-border-line: #e6eaef; // 描边色
$base-shadow: 0px 0px 16px 0px rgba(128, 146, 181, 0.1); // 阴影

// text
$base-text-color: #141c28; // 一级文字
$base-text-color-leavel-two: #3f4755; // 二级文字
$base-text-color-leavel-three: #89919f; // 三级文字
$base-text-color-leavel-four: #bfc7d9; // 四级文字a

// 默认菜单主题风格
$base-menu-width: 80px;
$base-sidebar-width: 160px;
$base-menu-color: var(--menuColor);
$base-menu-hover: var(--menuHover);
$base-menu-shadow: $base-shadow;
$base-menu-color-active: var(--menuActiveText);
$base-menu-background: var(--menuBg);
$base-logo-title-color: #ffffff;

$base-menu-light-color: rgba(0, 0, 0, 0.7);
$base-menu-light-background: #ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background: var(--subMenuBg);
$base-sub-menu-hover: var(--subMenuHover);
$base-sub-menu-title-hover: var(--subMenuTitleHover);

// 表单头背景色和标题颜色
$fixed-header-bg: var(--fixedHeaderBg);
$table-header-bg: var(--tableHeaderBg);
$table-header-text-color: var(--tableHeaderTextColor);

// Header
$base-header-height: 50px;

// 全局SCSS变量
:root {
  --primaryColor: $--color-primary;

  --textColor: $base-text-color;

  --menuOpenWidth: $base-sidebar-width;
  --menuCloseWidth: $base-menu-width;
  --menuBg: #fff;
  --menuColor: #bfcbd9;
  --menuActiveText: #f4f4f5;
  --menuHover: #f1f5fb;

  --subMenuBg: #1f2d3d;
  --subMenuActiveText: #f4f4f5;
  --subMenuHover: #001528;
  --subMenuTitleHover: #f1f5fb;

  --fixedHeaderBg: #f2f7fc; // 表头
  --tableHeaderBg: #f2f7fc; //
  --tableHeaderTextColor: #3f4755;
}

html.dark {
  --defaultTextColor: #fff;

  --menuBg: #fff;
  --menuColor: #bfcbd9;
  --menuActiveText: #f4f4f5;
  --menuHover: #f1f5fb;

  --subMenuBg: #1d1e1f;
  --subMenuActiveText: #1d1e1f;
  --subMenuHover: #f1f5fb;
  --subMenuTitleHover: #f1f5fb;

  --fixedHeaderBg: #f1f5fb;
  --tableHeaderBg: var(--el-bg-color);
  --tableHeaderTextColor: var(--el-text-color);

  // 覆盖ele 高亮当前行的标准暗色
  .el-tree-node__content {
    --el-color-primary-light-9: #262727;
  }
}

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuWidth: $base-menu-width;
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color;
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}

.el-drawer {
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(180deg, #cbdfff 0%, #ffffff 12%);

  .el-drawer__header {
    border-bottom: 1px solid #e8e8e8 !important;
  }

  .el-drawer__title {
    font-size: 18px;
    font-weight: 500;
    color: #141c28;
  }
}

.el-message-box {
  border-radius: 20px !important;
  background: linear-gradient(180deg, #cbdfff 0%, #ffffff 27%);

  .el-message-box__title {
    font-size: 18px;
    font-weight: 500;
    color: #141c28;
  }
}

.el-dialog {
  border-radius: 20px !important;
  background: linear-gradient(180deg, #cbdfff 0%, #ffffff 27%) !important;

  .el-dialog__title {
    font-size: 18px;
    font-weight: 500;
    color: #141c28;
  }
}
