// 全局SCSS变量
:root {
  --menuBg: #304156;
  --menuColor: #bfcbd9;
  --menuActiveText: #f4f4f5;
  --menuHover: #263445;

  --subMenuBg: #1f2d3d;
  --subMenuActiveText: #f4f4f5;
  --subMenuHover: #001528;
  --subMenuTitleHover: #293444;

  --fixedHeaderBg: #ffffff;
  --tableHeaderBg: #F2F7FC;
  --tableHeaderTextColor: #515a6e;
}

html.dark {
  --menuBg: #1d1e1f;
  --menuColor: #bfcbd9;
  --menuActiveText: #f4f4f5;
  --menuHover: #171819;

  --subMenuBg: #1d1e1f;
  --subMenuActiveText: #1d1e1f;
  --subMenuHover: #171819;
  --subMenuTitleHover: #171819;

  --fixedHeaderBg: #171819;
  --tableHeaderBg: var(--el-bg-color);
  --tableHeaderTextColor: var(--el-text-color);

  // 覆盖ele 高亮当前行的标准暗色
  .el-tree-node__content {
    --el-color-primary-light-9: #262727;
  }
}

// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// 默认菜单主题风格
$base-menu-color: var(--menuColor);
$base-menu-hover: var(--menuHover);
$base-menu-color-active: var(--menuActiveText);
$base-menu-background: var(--menuBg);
$base-logo-title-color: #ffffff;

$base-menu-light-color: rgba(0, 0, 0, 0.7);
$base-menu-light-background: #ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background: var(--subMenuBg);
$base-sub-menu-hover: var(--subMenuHover);
$base-sub-menu-title-hover: var(--subMenuTitleHover);
// 表单头背景色和标题颜色
$fixed-header-bg: var(--fixedHeaderBg);
$table-header-bg: var(--tableHeaderBg);
$table-header-text-color: var(--tableHeaderTextColor);

$--color-primary: #2879FF;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$base-sidebar-width: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color;
  primaryColor: $--color-primary;
  successColor: $--color-success;
  dangerColor: $--color-danger;
  infoColor: $--color-info;
  warningColor: $--color-warning;
}

.el-button {
  padding: 5px 16px;

  &.el-button--default {
    border: 1px solid #5091FF;
    color: #5091FF;
  }

  &.is-plain {
    border: 1px solid #E6EAEF;
    color: #3F4755;

    &:hover {
      border: 1px solid #5091FF;
      color: #5091FF;
    }
  }

  &.el-button--primary {
    background: rgba(80, 145, 255, 26);
    box-shadow: 0px 4px 8px 0px rgba(40, 121, 255, 0.26);
    border: none;
    color: #fff;

    &.is-plain {
      background-color: #e9f1ff;
      color: rgba(80, 145, 255, 26);
      border: 1px solid #93bcff;

      &:hover {
        background: rgba(80, 145, 255, 26);
        color: #fff;
      }
    }
  }

  &.el-button--success {
    border: none;
    color: #fff;

    &.is-plain {
      color: #67c23a;
      border: 1px solid #b3e19d;

      &:hover {
        color: #fff;
      }
    }
  }

  &.el-button--danger {
    border: none;
    color: #fff;

    &.is-plain {
      color: #f56c6c;
      border: 1px solid #fab6b6;

      &:hover {
        color: #fff;
      }
    }
  }

  &.el-button--info {
    border: none;
    color: #fff;

    &.is-plain {
      color: #909399;
      border: 1px solid #c8c9cc;

      &:hover {
        color: #fff;
      }
    }
  }

  &.el-button--warning {
    border: none;
    color: #fff;

    &.is-plain {
      color: #e6a23c;
      border: 1px solid #f3d19e;

      &:hover {
        color: #fff;
      }
    }
  }

  &.is-link {
    min-width: auto
  }

  &.is-plain,
  &.is-text,
  &.is-link {
    box-shadow: none
  }
}

.el-table .el-table__body-header tr,
.el-table .el-table__header .el-table__cell,
.el-table .el-table__body-header .el-table__cell {
  background: #F2F7FC !important;
  color: #89919F !important;
  font-weight: normal !important;
}

.el-drawer {
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(180deg, #CBDFFF 0%, #FFFFFF 12%);

  .el-drawer__header {
    border-bottom: 1px solid #E8E8E8 !important;
  }

  .el-drawer__title {
    font-size: 18px;
    font-weight: 500;
    color: #141C28;
  }
}

.el-message-box {
  // border-radius: 20px !important;
  padding: 20px !important;
  background: linear-gradient(180deg, #CBDFFF 0%, #FFFFFF 27%);

  .el-message-box__title {
    font-size: 16px;
    font-weight: bold;
    color: #141C28;
  }
}

.el-dialog {
  // border-radius: 20px !important;
  // background: linear-gradient(180deg, #CBDFFF 0%, #FFFFFF 27%) !important;
  padding: 0px !important;
  background-color: #F3F6FB !important;

  .el-dialog__header {
    padding: 16px;
    margin-bottom: 6px !important;
    background: #fff;
    border-radius: 4px;

    .el-dialog__title {
      font-size: 18px;
      font-weight: bold;
      color: #141C28;
    }
  }
  .el-dialog__body {
    background: #fff;
    border-radius: 4px;
  }
  .el-dialog__footer {
    background: #fff;
    padding: 16px;
    border-radius: 4px;
  }
}

.el-menu--popup .nest-menu .el-menu-item {
  height: 44px;
  line-height: 44px;
  color: #89919F;
  // font-size: 16px;
  border-radius: 4px;
  margin: 0 8px;

  &.is-active,
  &:hover {
    background: #EBF2FF;
    color: #5091FF;
  }
}